/* M E H  R E S E T */
html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
html {
	background:#eceff1;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* M E N U */
.navbar
{
	background:#00b8d4;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}
.menu-inside
{
	padding:0 1em;
}
.brand-logo{
	font-weight:100;
}
li a{
	transition:.4s ease-in;
}
li a:hover 
{
	background:#fff;
	color:#00b8d4;
}
/* C O N T E N T */
#about
{
	background:#0d47a1;
	min-height:100%;
}
.about{
	margin-top:7em;
	background:white;
	width:30%;
}
#pro
{
	background:#546e7a;
	min-height:100%;
}
.center
{
	margin-left:auto;
	margin-right:auto;
}
