---
layout: blog.njk
---

<span class = "blog-text">{{ title }}</span>      
<p class = "current-text">{{ subtitle }}</p>
<article>{{ content | safe}}</article>
<hr />
<p class = "menu-back"><a href = "/blog">Go back ↩️</a></p>