/* C L A S S I C  H T M L S T U F F */

html, body, .wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
html {
	background: url(images/starmountain.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.1em;
	overflow-y:none;
}

/* C O N T E N T  P A N E L */
.contentPanel {
	width: 90%;
	height: 90%;
	padding:0;
	margin-top: 2em;
	background:rgba(255,255,255,.1);
	/*box-shadow: 0 0 5000px 1000px rgba(0,0,0,.7) inset;*/
}

/* M I N I  P A N E L S */
.mpanel
{

	display:block;
	/*background:rgba(255,255,255,.9);*/
	font-family: 'Roboto', sans-serif;
}
.top
{
	display:block;
	padding:0;
	background:transparent;
}
.copy
{
	position:relative;
	bottom:-2px;
	text-align:center;
	color:white;
	background:rgba(255,255,255,.1);
}
.copy a {
	color:white;
}
.clock
{
	color:#FFF;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	text-align:center;
	font-size:8em;
	padding:17%;
}
.day
{
	color:white;
	font-size:2em;
	display:block;
	width:auto;
	text-align:center;
	font-weight:200;
}
/* G E N E R A L */

.center {
	margin-left: auto;
	margin-right: auto;
}
