/*Jimmy Yuan*/

/*The defaults and the general page info*/

html, body, .wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
html {
	/*background: url(images/bg2.jpg) no-repeat center center fixed; */
	
	/*background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
	/*background: -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
	/*background: -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
	/*background: -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
	/*background: linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
	background:#2c3e50;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
}
/* M E N U */
.menu
{
	text-align:center;
	background:#fff;
	margin-top:1.5em;
	width:80%;

}
.menuButton
{
	cursor:pointer;
	padding:1.5em 3em;
	margin:0;
	display:inline-block;
	transition:.4s ease-in;
}

.menuButton:hover
{
	background:#2c3e50;
	color:white;
}
/* G E N E R I C */
.center
{
	margin-left:auto;
	margin-right:auto;
}
