/* M E N U */
.logo-img
{
    display: inline-block;
    height:1em;
    margin-top:-.4em;
}
.text-spacing
{
    letter-spacing:.1em;
}
#menu {
    dbackground: #000000;
    dbackground: #263238;
    dbackground: transparent;
    background: #fff;
    padding: 1em 0;
}
.uk-navbar-nav>li>a[href='#'] {
    cursor: pointer;
}
#brand-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #333;
}
#splash {
    background: linear-gradient(
      rgba(0, 0, 0, 0.37),
      rgba(0, 0, 0, 0.37)
    ), url(images/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
#overlaySplash
{
    background: rgba(0,0,0);
    z-index:0;
}
#name {
    padding-top: 15%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 5em;
    color: #fff;
}
#slogan {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1em;
    font-weight: 100;
    font-size: 2em;
    color: #fff;
}
.custom-header {
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 4em;
    color: #333;
    margin-bottom:1em;
}
.custom-subheader {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 2em;
    color: #333;
}
.fancy-button {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: .5em .7em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    border-style: solid;
    border-width: 1px;
    transition: .3s ease-in;
    text-decoration: none;
    color: #fff;
}
.fancy-button:hover {
    background: #cfd8dc;
    transform: translate(0, 10px);
    color: white;
    text-decoration: none;
}
.flow-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}
#about {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color:#333;
}
#pro {
    background: url('images/darkhex.png');
    text-align: center;
    color: #fff;
}
#skills
{
    text-align:center;
}
#proj {
    background: url('images/newyear.png');

    text-align: center;
}
#contact {
    text-align: center;
}
#side-nav {
    background: black;
}
#budgetpig {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#contact
{
    background:#263238;
    color:white;
}
.com-logo
{
    padding:3em .5em;
}
.bpigpic {
    display: block;
    margin:1em;
}
.contact-icon {
    display: inline-block;
    font-size: 3em;
    padding: 1em;
    color:white;
}
.bold
{
    font-weight:400;
}
.light
{
    color:#fff;
}
.dark
{
    color:#333;
}
