body
{
    margin:0;
    padding:0;
    /* background-color: #ecebe6; */
    color:#666;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(236,235,230,1) 100%);
}
#hero
{
    min-height:100%;
    /* background-color: #ecebe6; */
    margin:0;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(236,235,230,1) 100%);
}
.name-text
{
    font-size: 96px;
    font-family: 'DM Sans', sans-serif;
    color:#666;
    font-weight: bold;
    /* text-align: right; */
}
.current-text
{
    font-size: 36px;
    font-family: 'Red Hat Mono', monospace;
    color:#666;
    text-align: right;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.menu-text
{
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    color:#666;
    text-align: center;
    animation: 1s slide-up;
}
.icon
{
    display:inline;
}
#typed-strings
{
    display:none;
}
#text-box
{
    text-align: right;
}
#about
{
    /* background-color: #fcfcfc; */
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(236,235,230,1) 100%);
}
.small
{
    font-size:16px;
}
.hr-custom
{
    margin-top:32px;
    margin-bottom:32px;
}
.image-holder
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.mini-header
{
    font-size:32px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
p{
    font-size:20px;
    font-family: 'DM Sans', sans-serif;
}
.about-text
{
    margin-top:10px;
}
.about-photo
{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
/* A N I M A T I O N */

.l1,
.l2,
.l3,
.l4 {
    position: absolute;
    background: transparent;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
.l1 {
    left: 5%;
    bottom: 5%;
    height: 1;
    width: 1px;
    -webkit-animation-name: l1;
    -webkit-animation-delay: 0s;
}
.l2 {
    top: 5%;
    left: 5%;
    width: 1;
    height: 1px;
    -webkit-animation-name: l2;
    -webkit-animation-delay: 1.4s;
}
.l3 {
    right: 5%;
    top: 5%;
    height: 1;
    width: 1px;
    -webkit-animation-name: l3;
    -webkit-animation-delay: .8s;
}
.l4 {
    bottom: 5%;
    right: 5%;
    width: 1;
    height: 1px;
    -webkit-animation-name: l4;
    -webkit-animation-delay: 1.4s;
}
@-webkit-keyframes l1 {
    0% {
        height: 0;
        background: #4a4a4a;
    }
    100% {
        height: 90%;
        background: #ecebe6;
    }
}
@-webkit-keyframes l2 {
    0% {
        width: 0;
        background: #4a4a4a;
    }
    100% {
        width: 90%;
        background: #ecebe6;
    }
}
@-webkit-keyframes l3 {
    0% {
        height: 0;
        background: #4a4a4a;
    }
    100% {
        height: 90%;
        background: #ecebe6;
    }
}
@-webkit-keyframes l4 {
    0% {
        width: 0;
        background: #4a4a4a;
    }
    100% {
        width: 90%;
        background: #ecebe6;
    }
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%; 
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }
  }