/*THANKS ICONS8 FOR ICONS*/

html, body, .wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: hidden;
}
html {
	background: url(images/bluemountains.jpg) no-repeat center center fixed;
	/*background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
	/*background: -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
	/*background: -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
	/*background: -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
	/*background: linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
	/*background:#2c3e50;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.1em;
}
.desktop {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* D E S K T O P  E L E M E N T S */
.startMenu {
	position: absolute;
	bottom: 0;
	height: 2.5em;
	background: rgba(41, 128, 185, .8);
	width: 100%;
	z-index: 98;
	box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
.startButton {
	height: 2.5em;
	margin: 0;
	position: absolute;
	bottom: 0;
	cursor: default;
	padding: 0 .5em;
	transition: .4s ease-in;
}
.startButton:hover {
	background: #2c3e50;
}
.taskbartime {
	text-align: center;
	z-index: 98;
	position: absolute;
	right: 1em;
	bottom: 0;
	padding-left: .8em;
	padding-right: .8em;
	padding-bottom: .1em;
	height: 3em;
	font-family: calibri;
	font-size: .7em;
	color: white;
	transition: .5s ease-in;
	cursor: default;
}
.time {
	padding: .1em;
	display: inline-block;
	cursor: default;
	z-index: 98;
}
.taskbartime:hover {
	box-shadow: 0px .1em 0em .1em rgba(255,255,255,.2);
}
.icons {
	position: absolute;
	bottom: 0;
	left: 4em;
	z-index: 98;
	padding-top: 1em;
	margin-top: 1em;
}
.tIcons {
	transition: .5s ease-out;
	height: 1.8em;
	z-index: 98;
	position: relative;
	bottom: -.25em;
	padding: .35em 1em;
	cursor: default;
}
.tIcons:hover {

	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
.taskIcons {
	position: absolute;
	bottom: 0;
	right: 5.5em;
	z-index: 98;
	padding-top: 1em;
	margin-top: 1em;
}
.taIcons {
	transition: .5s ease-out;
	height: .85em;
	z-index: 99;
	position: relative;
	padding: 0em .2em;
	bottom: .4em;
	padding-bottom: .2em;
	cursor: default;
}
.taIcons:hover {

	box-shadow: 0px .2em .2em -.1em rgba(255,255,255,.4);
}
.dIcons {
	margin-top: 1em;
	height: 2.5em;
}
.iconText {
	text-align: center;
	display: block;
	margin: 0;
	font-size: .6em;
	color: white;
	text-shadow: -1px -1px .1em #000, 1px -1px .1em #000, -1px 1px .1em #000, 1px 1px .1em #000, .1em .1em .3em #000;
}
.iconWrapper {
	text-align: center;
	position: relative;
	width: 5em;
	height: 5em;
}
.iconWrapper:hover {
	cursor: default;
	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
/* W I F I  M E N U */
.wifiMenu {
	position: absolute;
	right: -18em;
	top: 0;
	overflow: hidden;
	width: 15em;
	height: 100%;
	padding-left: 2em;
	padding-top: 1em;
	background: #22A7F0;
	transition: .4s ease-in;
	z-index: 99;
}
.wifiHeader {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
}
.wifiWrapper {
	padding-left: 1em;
}
.wifiText {
	font-size: .8em;
	color: white;
}
.wIcons {
	position: absolute;
	right: 2em;
	height: 1em;
}
.wifiTextC {
	transition: .4s ease-in;
	cursor: pointer;
	padding: .5em;
}
.wifiTextC:hover {
	width: 90%;
	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
/* S T A R T  M E N U */
.startMenuDesktop {
	background: url(images/startmenubackground.png) no-repeat center center fixed;
	/*background:#000;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s ease-in-out;
	z-index: 97;
}
.startHeader {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 3em;
	margin: 1em 2em;
	float: left;
	cursor: default;
}
.nameIcon {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
	margin: 3.5em 4em;
	float: right;
	cursor: pointer;
	padding: .5em 1em;
}
.nameWrapper {
	float: left;
	margin-right: 1em;
}
.nameIcon:hover {
	box-shadow: 0 0 0em 10em #1F3A93 inset;
}
.userName {

	display: block;
}
.portrait {
	height: 3em;
}
.startHeaderSection {
	height: 10em;
}
.tileIcon {
	margin-top: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.tileText {
	margin-top: .5em;
	display: block;
	font-family: calibri;
	color: white;
	font-size: .9em;
}
.picTile {
	margin-top: 5em;
}
/* P U R E */
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .3em;
}
.left-side {
	margin-left: 5em;
	width: 60%;
}
.boxItem {
	transition: .4s ease-in-out;
}
.boxItem:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 1em .2em rgba(0,0,0,.2);
}
/* W I N D O W S  A E R O */
.aero {

	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-color: rgba(255,255,255,.5);
}
.toptask {
	height: 2em;
	text-align: center;
}
.title {

}
.toptab {
	background: rgb(17,99,221); /* Old browsers */
	width: 7em;
	cursor: default;
	text-align: center;
	font-family: calibri;
	color: white;
	font-size: .8em;
	font-weight: 500;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-width: thin;
	border-color: rgba(0, 0, 0,.5);
	float: left;
	background: rgb(90,143,221); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(90,143,221,1) 0%, rgba(54,144,240,1) 49%, rgba(84,163,238,1) 50%, rgba(170,207,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,143,221,1)), color-stop(49%,rgba(54,144,240,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(100%,rgba(170,207,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(90,143,221,1) 0%,rgba(54,144,240,1) 49%,rgba(84,163,238,1) 50%,rgba(170,207,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(90,143,221,1) 0%,rgba(54,144,240,1) 49%,rgba(84,163,238,1) 50%,rgba(170,207,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(90,143,221,1) 0%,rgba(54,144,240,1) 49%,rgba(84,163,238,1) 50%,rgba(170,207,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(90,143,221,1) 0%,rgba(54,144,240,1) 49%,rgba(84,163,238,1) 50%,rgba(170,207,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8fdd', endColorstr='#aacfef',GradientType=0 ); /* IE6-9 */
}
.toptab:hover {
	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
.minimax {
	font-weight: 700;
	font-family: calibri;
	text-align: center;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: thin;
	width: 1em;
	background: rgba(255,255,255,.1);
	color: white;
	font-size: 1em;
	padding-left: .3em;
	padding-right: .3em;
	border-color: rgba(0,0,0,.3);
	float: right;
	cursor: default;
	transition: .4s ease-in-out;
}
.minimax:hover {
	background: rgba(0,0,0,.5);
}
.close {
	font-weight: 700;
	font-family: calibri;
	text-align: center;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-width: thin;
	width: 3em;
	background: rgba(255,255,255,.1);
	color: white;
	border-color: rgba(0,0,0,.3);
	float: right;
	cursor: default;
	transition: .4s ease-in-out;
}
.close:hover {
	background: rgba(207, 0, 15,.5);
}
/* F I R E F O X */
#firefox {
	display: none;
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.2);
	position: absolute;
	top: 3em;
	left: 7em;
	width: 50em;
	height: 35em;
	z-index: 99;
	padding-right: .3em;
	padding-left: .3em;
	padding-bottom: .3em;
	background: rgba(107, 185, 240,.4);
}
.addressBar {
	line-height: 2em;
	height: 2em;
	padding-left: .5em;
	padding-right: .5em;
	vertical-align: middle;
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.2);
	background: rgb(52,152,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(52,152,219,1) 0%, rgba(52,152,219,1) 50%, rgba(41,128,185,1) 51%, rgba(41,128,185,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,152,219,1)), color-stop(50%,rgba(52,152,219,1)), color-stop(51%,rgba(41,128,185,1)), color-stop(100%,rgba(41,128,185,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(41,128,185,1) 51%,rgba(41,128,185,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(41,128,185,1) 51%,rgba(41,128,185,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(41,128,185,1) 51%,rgba(41,128,185,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(41,128,185,1) 51%,rgba(41,128,185,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2980b9',GradientType=0 ); /* IE6-9 */
}
.arrow {

	height: 1.5em;
	vertical-align: middle;
}
.url {
	font-family: calibri;
	vertical-align: middle;
	margin-left: .5em;
	width: 50em;
	font-weight: 400;
	font-size: .6em;
}
.search {
	vertical-align: middle;
	margin-left: .5em;
	width: 15em;
	font-size: .6em;
	font-family: calibri;
}
.go {
	margin-left: .5em;
	color: white;
	font-size: .5em;
	height:    ..5em;
	width: .5em;
	padding: .5em;
	vertical-align: middle;
	cursor: default;
	background: #2c3e50;
	transition: .4s ease-in-out;
}
.go:hover {
	background: #19B5FE;
}
.firefoxbody {
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.2);
	background: white;
	width: 100%;
	height: 31em;
}
#frame {
	border-style: none;
	height: 31em;
	width: 100%;
}
/* E X P L O R E R */
#explorer {
	display: none;
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.2);
	position: absolute;
	top: 3em;
	left: 7em;
	width: 50em;
	height: 35em;
	z-index: 99;
	padding-right: .3em;
	padding-left: .3em;
	padding-bottom: .3em;
	background: rgba(107, 185, 240,.8);
}
.addressBarEx {
	text-align: left;
	line-height: 2em;
	height: 2em;
	padding-left: .5em;
	background: #fff;
	padding-right: .5em;
	vertical-align: middle;
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.2);
}
.optionsBar {
	text-align: left;
	height: 1.7em;
	background: white;
	border-bottom-style: solid;
	border-width: thin;
	border-color: rgba(0,0,0,.3);
}
.optionsButtons {

	padding: .6em 1.5em;
	font-size: .8em;
	display: inline-block;
	cursor: default;
	transition: .2s ease-in-out;
}
.optionsButtons:hover {
	background: #3A539B;
	color: #fff;
}
.ebody {
	outline-style: solid;
	outline-width: thin;
	outline-color: rgba(0,0,0,.1);
	background: white;
	width: 100%;
	height: 29.2em;
}
.titleIcon {
	height: 1em;
	padding: .5em;
	position: absolute;
	left: 0;
}
#explorer .close {
	background: rgba(0,0,0,.4);
}
#explorer .close:hover {
	background: rgba(207, 0, 15,.8);
}
.topcap {
	padding: .5em;
	color: #333;
	display: inline-block;
}

.sideBarExplorer {
	float: left;
	width: 25%;
	height: 29.2em;
	border-right-style: solid;
	border-width: thin;
	border-color:rgba(0,0,0,.1);
}
.mainExplorer {
	width: 100%;
	height: 29.2em;
}
/* C A R D U I */
.card {
	background: white;
	height: 5.5em;
	padding: .5em;
	/*box-shadow: 0px 0px 5px rgba(0,0,0,.2);*/
}

.side {

}
.zpadding {

}
/*ON OFF SWTICH  THANK YOU http://proto.io/freebies/onoff/*/
.onoffswitch {
	position: relative;
	width: 58px;
	right: -5em;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 0px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 15px;
	padding: 0;
	line-height: 11px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid transparent;
	background-clip: padding-box;
}
.onoffswitch-inner:before {
	content: "";
	padding-left: 10px;
	background-color: #2E8DEF;
	color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "";
	padding-right: 10px;
	background-color: #CCCCCC;
	color: #333333;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: 0px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
/* C O L O R  G R A D I E N T S */
.blue1 {

	background: #2574A9;
}
.blue2 {
	background: #4183D7;
}
.blue3 {
	background: #3A539B;
}
.blue4 {
	background: #22313F;
}
.orange1 {
	background: #E67E22;
}
.red1 {
	background: #96281B;
}
.purple1 {
	background: #663399;
}
.purple2 {
	background: #8E44AD;
}
.purple3 {
	background: #9B59B6;
}
.green1 {
	background: #68C3A3;
}
.green2 {
	background: #26A65B;
}
.desktopCard {
	background: url(images/desktop.jpg);
}
.photosBg {
	background: url(images/photos.png);
}
