html, body, .wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: hidden;
}
html {
	background: url(images/desktop.jpg) no-repeat center center fixed;
	/*background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
	/*background: -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
	/*background: -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
	/*background: -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
	/*background: linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
	/*background:#2c3e50;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.1em;
}
.desktop {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
}
/* D E S K T O P  E L E M E N T S */
.startMenu {
	position: absolute;
	bottom: 0;
	height: 2.5em;
	background: rgba(41, 128, 185, .5);
	width: 100%;
	box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
.startButton {
	height: 2.5em;
	margin: 0;
	position: absolute;
	bottom: 0;
	cursor: default;
	padding: 0 .5em;
	transition: .4s ease-in;
}
.startButton:hover {
	background: #2c3e50;
}
.taskbartime {
	text-align: center;
	position: absolute;
	right: 1em;
	bottom: 0;
	padding-left: .8em;
	padding-right: .8em;
	padding-bottom: .1em;
	height: 3em;
	font-family: calibri;
	font-size: .7em;
	color: white;
	transition: .5s ease-in;
	cursor: default;
}
.time {
	padding: .1em;
	display: inline-block;
	cursor: default;
}
.taskbartime:hover {
	box-shadow: 0px .1em 0em .1em rgba(255,255,255,.2);
}
.icons {
	position: absolute;
	bottom: 0;
	left: 4em;
	padding-top: 1em;
	margin-top: 1em;
}
.tIcons {
	transition: .5s ease-out;
	height: 1.8em;
	position: relative;
	bottom: -.25em;
	padding: .35em 1em;
	cursor: default;
}
.tIcons:hover {

	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
.taskIcons {
	position: absolute;
	bottom: 0;
	right: 5.5em;
	padding-top: 1em;
	margin-top: 1em;
}
.taIcons {
	transition: .5s ease-out;
	height: .85em;
	position: relative;
	padding: 0em .2em;
	bottom: .4em;
	padding-bottom: .2em;
	cursor: default;
}
.taIcons:hover {

	box-shadow: 0px .2em .2em -.1em rgba(255,255,255,.4);
}
.dIcons {
	margin-top: 1em;
	height: 2.5em;
}
.iconText {
	text-align: center;
	display: block;
	margin: 0;
	font-size: .6em;
	color: white;
	text-shadow: -1px -1px .1em #000, 1px -1px .1em #000, -1px 1px .1em #000, 1px 1px .1em #000, .1em .1em .3em #000;
}
.iconWrapper {
	text-align: center;
	position: relative;
	width: 5em;
	height: 5em;
}
.iconWrapper:hover {
	cursor: default;
	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
/* W I F I  M E N U */
.wifiMenu {
	position: absolute;
	right: -18em;
	top: 0;
	overflow: hidden;
	width: 15em;
	height: 100%;
	padding-left: 2em;
	padding-top: 1em;
	background: #22A7F0;
	transition: .4s ease-in;
	z-index: 99;
}
.wifiHeader {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
}
.wifiWrapper {
	padding-left: 1em;
	
}
.wifiText {
	font-size: .8em;
	color: white;
}
.wIcons
{
	position:absolute;
	right:2em;
	height:1em;
}
.wifiTextC
{
	transition:.4s ease-in;
	cursor:pointer;
	padding:.5em;
}
.wifiTextC:hover
{
	width:90%;
	box-shadow: 0px 0px 1em 100em rgba(255,255,255,.2) inset, 0px 0px 0px 1px rgba(0,0,0,.2), 0px 0px 1em 2px rgba(255,255,255,.2) inset;
}
/*ON OFF SWTICH  THANK YOU http://proto.io/freebies/onoff/*/
.onoffswitch {
	position: relative;
	width: 58px;
	right: -5em;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 0px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 15px;
	padding: 0;
	line-height: 11px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid transparent;
	background-clip: padding-box;
}
.onoffswitch-inner:before {
	content: "";
	padding-left: 10px;
	background-color: #2E8DEF;
	color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "";
	padding-right: 10px;
	background-color: #CCCCCC;
	color: #333333;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: 0px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}