html, body, .wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	background:#ecf0f1;
	height: 100%;
	
}
/* P U R E */
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-box {
	padding: 1em;
}
/* C A R D U I */
.card
{
	background:white;
	border-radius:.3em;
	margin:1em;
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.cardHeader
{
	padding:.5em;
	font-size:1.5em;
	color:#fff;
	text-align:center;
}
.cardContent
{
	padding:1em;
	line-height:1.5em;
}
/* S P E C I A L */
.todoLst
{
	margin-left:1em;
	padding:0;
}
#time
{
	font-size:5em;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}
/* C O L O R S */
.blue
{
	background:#3498db;
}
.green{
	background:#2ecc71;
}
.midnightblue
{
	background:#2c3e50;
}
.fwhite
{
	color:#fff;	
}
.nephG
{
	background:#27ae60;
}
.belize
{
	background:#2980b9;
}
.wetasphalt
{
	background:#34495e;
}
