
#splash{
    background:url('images/newyear.png');
    dbackground: #ECE9E6; /* fallback for old browsers */
    dbackground: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    dbackground: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align:center;
}

.name{
    padding-top:1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:100;
    line-height:2em;
    font-size:2em;
    color:#333;
}
