/*Jimmy Yuan*/
body {
	font-family: 'Voces', cursive;
	background:#102D40;
	color:black;
	height:100%;
}
.container
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}
div,.container,body, html
{
	height:90%;
}
div
{
	outline:solid;
	outline-width:5px;
	outline-color:#DDDDDD;
	width:300px;
	height:100%;
	background:white;
    	border-width:5px;
    	border-style: solid;
	border-color:#2c3e50;
	-webkit-transition:background 0.4s 0.1s;
    	transition: background 0.4s 0.1s;
	 -moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
}
div:hover
{
	border-color:white;
	outline-color:#111111;
}
.about:hover
{
	background:black;
	fill:black;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.pro:hover
{
	background:#2c3e50;
	 -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
.casual:hover
{
	background:#102D40;
	 -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
h1
{
	font-family: 'Great Vibes', cursive;
	color:white;
	font-size:95px;
	margin-top:10px;
	margin-bottom:10px;
}
text
{
	font-family: Arial;
	font-size:40px;
	fill:#215A7F;
}
.aboutMe
{
	background:#DDDDDD;
	height:100%;
	width:700px;
	display:none;
	opacity:0;
	margin-left:auto;
	margin-right:auto;
	webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s
}
